go 1.18

use (
	./
	./examples/everything/
	./tool/experimental/errmon/
	./tool/experimental/errmon/examples/
	./tool/experimental/errmon/implementation/logger/
	./tool/experimental/errmon/implementation/sentry/
	./tool/experimental/metrics/
	./tool/experimental/metrics/examples/
	./tool/experimental/metrics/implementation/prometheus/
	./tool/experimental/metrics/implementation/simplemetrics/
	./tool/experimental/metrics/implementation/tsmetrics/
	./tool/experimental/metrics/tests/
	./tool/experimental/tracer/
	./tool/experimental/tracer/examples/
	./tool/experimental/tracer/implementation/logger/
	./tool/experimental/tracer/implementation/zipkin/
	./tool/experimental/tracer/tests/
	./tool/logger/
	./tool/logger/examples/
	./tool/logger/implementation/glog/
	./tool/logger/implementation/logrus/
	./tool/logger/implementation/zap/
	./tool/logger/tests/
)
